.editor-styles-wrapper {
  .mmd-button-group {
    &:not(:first-child, .mod--display--no-spacing) {
      margin-top: 1.5rem;
    }

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    .block-editor-inner-blocks {
      width: 100%;
    }

    > div {
      justify-content: inherit;
      flex-direction: inherit;

      > .block-editor-block-list__layout {
        display: flex;
        flex-wrap: wrap;
        justify-content: inherit;
        align-items: center;
        gap: 1rem;
        flex-direction: inherit;
      }
    }

    .tenup-block-components-link__label {
      display: inline-block;
      vertical-align: middle;

      + span {
        display: inline-block;
        vertical-align: middle;
        margin-left: .25rem;
      }
    }

    &:is(.is-style-stacked) {
      [data-title="Button"]:has(> :is(.btn, .mmd-button)) {
        width: 100%;
        justify-content: center;
      }
    }
  }

  // Base
  [data-title="Button"]:has(> :is(.btn, .mmd-button)) {
    width: max-content;

    > :is(.btn, .mmd-button) {
      width: 100%;
    }
  }
}


.editor-styles-wrapper{
  .mmd-button-group:is(.is-style-stacked){
      :is(.btn, .mmd-button){
          justify-content: center;
          .tenup-block-components-link__label{
              display: inline;
              max-width: fit-content;
          }
      }
  }
}