.mmd-image-wrapper,
.mmd-media-wrapper {
  border-radius: var(--mmd-media-border-radius, 0);
  margin: 0;
  cursor: pointer;
}

.mmd-image-wrapper > img:is(.size-full, .h-full) {
  height: 100%;
}

.m-button--upload-new-media {
  width: 100%;
  min-height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1e1e1e;
  background-color: #ddd;
}

.m-custom-media-preview {
  position: relative;
  isolation: isolate;
}

.m-custom-media-buttons {
  position: absolute;
  bottom: .3rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  z-index: 10;
  transition: all 350ms ease-in-out;
  opacity: 0;
  padding-inline: .3rem;
}

.m-custom-media-preview:hover .m-custom-media-buttons {
  opacity: 1;
}

.m-custom-media-button {
  text-align: center;
  padding: .6em .2em;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: .25rem;
  width: calc(50% - .25rem);
  color: #1e1e1e;
  transition: inherit;
  justify-content: center;
}

.m-custom-media-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}