# WordPress Core Ignored Directories & Root Files
/wp-admin/
/wp-includes/
/index.php
/license.txt
/readme.html
/xmlrpc.php
/wp-*.php

# Ignore all of wp-content except our specific custom theme
wp-content/*
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/qp-newsletter/

# Ignore local DDEV files except the config.yaml
.ddev/*
!.ddev/config.yaml

# Ignore theme build dependencies & outputs inside our theme folder
wp-content/themes/qp-newsletter/node_modules/
wp-content/themes/qp-newsletter/gutenberg/build/
wp-content/themes/qp-newsletter/*.min.js
wp-content/themes/qp-newsletter/*.min.css
wp-content/themes/qp-newsletter/variables.local.php

# OS and temporary assets
.DS_Store
.figma-measure-state.json
